---
layout: null
section: talks
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Protik Das - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="{{ "/css/slides.css" | prepend: site.baseurl }}">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="logo">
      <a href="https://protikdas.com">protikdas.com</a>
    </div>
    <div class="reveal">
      <div class="slides">
{{ content }}
      </div>
    </div>
    <script src="/talks/js/slides.js"></script>
    <script>
      Reveal.initialize({ // https://github.com/hakimel/reveal.js#configuration
        controls: true,
        progress: true,
        history: true,
        center: true,
        minScale: 0.95,
        maxScale: 0.95,
        width: 1280,
        height: 800,
        transition: 'slide' // none/fade/slide/convex/concave/zoom
      });
    </script>
  </body>
</html>